* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.limitar-secao {
  max-width: 1024px;
  margin: 0 auto;
}

h2, h3 {
  text-transform: capitalize;
  font-size: 36px;
  margin: 0;
}

/* TOPO */

header {
  padding: 10px 15px;
}

header .header-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .logo {
  width: 150px;
}

header .nav-menu a{
  font-size: 18px;
  color: #000;
  text-decoration: none;
  margin: 0 5px;
  padding: 5px;
}

/* Seção Capa */

.secao-capa {
  background-image: url('/public/assets/capa.png');
}